<section class="card-type-section">
  <div class="mr-10">
    <div class="filter-type">Heroes</div>
    <div class="filter-row">
      <app-filter-button type="cardTypes" value="hero"></app-filter-button>
    </div>
  </div>
  <div class="mr-10">
    <div class="filter-type">Main Deck</div>
    <div class="filter-row">
      <app-filter-button type="cardTypes" value="creep"></app-filter-button>
      <app-filter-button type="cardTypes" value="spell"></app-filter-button>
      <app-filter-button
        type="cardTypes"
        value="improvement"
      ></app-filter-button>
    </div>
  </div>
  <div class="mr-10">
    <div class="filter-type">Items</div>
    <div class="filter-row">
      <app-filter-button
        isItem="true"
        type="cardTypes"
        value="weapon"
      ></app-filter-button>
      <app-filter-button
        isItem="true"
        type="cardTypes"
        value="armor"
      ></app-filter-button>
      <app-filter-button
        isItem="true"
        type="cardTypes"
        value="accessory"
      ></app-filter-button>
      <app-filter-button
        isItem="true"
        type="cardTypes"
        value="consumable"
      ></app-filter-button>
    </div>
  </div>
  <div class="mr-10">
    <div class="filter-type">Colors</div>
    <div class="filter-row">
      <app-filter-button
        color="red"
        type="colors"
        value="red"
      ></app-filter-button>
      <app-filter-button
        color="blue"
        type="colors"
        value="blue"
      ></app-filter-button>
      <app-filter-button
        color="black"
        type="colors"
        value="black"
      ></app-filter-button>
      <app-filter-button
        color="green"
        type="colors"
        value="green"
      ></app-filter-button>
    </div>
  </div>
</section>
